@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button($bg, $text) {
  display: block;
  background: $bg;
  color: $text;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
  width: auto;
  margin: 20px auto;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: 3px 3px 25px -9px rgba(0,0,0,0.75);
  }
}

@mixin tablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone() {
  @media screen and (max-width: 526px) {
    @content;
  }
}