@import "variables";
@import "mixins";



section {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin: 100px auto 60px auto;
  }
  h4 {
    margin: 20px 0px;
  }
  .two-column {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
    align-items: center;
    @include lg {
      grid-template-columns: 100%;
    }
    p {
      max-width: 400px;
      @include lg {
        max-width: 1000px;
      }
    }
  }
  .column-one {
    justify-self: end;
  }
  .column-two {
    justify-self: center;
  }
}