.home-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-screen .bg-img {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.home-screen div {
  width: 100%;
  margin: 0 auto;
}

.home-screen img {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .home-screen img {
    width: 100%;
  }
}

.home-screen h2 {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #f1f1f1;
}

.two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
  background: #474747;
  color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
          box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
}

.two-columns .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 50px;
  position: relative;
}

.two-columns .row .image-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.two-columns .row img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
          clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
}

.two-columns .row h3 {
  font-size: 52px;
}

.two-columns .row p {
  font-size: 20px;
  padding-left: 40px;
}

.two-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-columns .column .icon {
  margin-bottom: 32px;
  color: #29abe2;
}

.two-columns .column h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #252525;
}

.two-columns .column p {
  max-width: 400px;
}

.about {
  max-width: 1000px;
}

.about h2 {
  color: #29abe2;
  letter-spacing: -2px;
  text-align: left;
  border-bottom: 2px solid #29abe2;
  margin: 20px 0px;
}

.about button {
  display: block;
  background: #29abe2;
  color: #f1f1f1;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: auto;
  margin: 20px auto;
  cursor: pointer;
}

.about button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  background: #474747;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
          box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
}

.contact .column-one h2 {
  text-align: left;
}

.contact .column-one ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  list-style: none;
  padding: 0;
  color: var(--white);
  font-size: 1.5em;
}

.contact .column-one ul li {
  padding: 10px 0px;
}

.contact .column-one ul li .check {
  margin-left: 20px;
  margin-right: 40px;
}

.contact .column-two {
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=home.css.map */