.home-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-screen .bg-img {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.home-screen div {
  width: 100%;
  margin: 0 auto;
}

.home-screen img {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .home-screen img {
    width: 100%;
  }
}

.home-screen h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #f1f1f1;
  text-align: center;
}

.two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4rem;
  background: #474747;
  color: #f1f1f1;
}

.two-columns .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  grid-gap: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .two-columns .row {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 40px;
    text-align: center;
  }
}

.two-columns .row img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
          clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
}

@media screen and (max-width: 1200px) {
  .two-columns .row h2 {
    font-size: 28px;
  }
}

.two-columns .row p {
  padding-left: 20px;
  max-width: 420px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .two-columns .row p {
    padding-left: 0px;
  }
}

.two-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-columns .column h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #252525;
}

.two-columns .column p {
  max-width: 400px;
}

.two-columns .slidefromleft {
  -webkit-animation: slidefromleft 4s ease-in-out 0.5s 1 forwards;
          animation: slidefromleft 4s ease-in-out 0.5s 1 forwards;
}

.about {
  max-width: 1000px;
}

.about h2 {
  color: #29abe2;
  letter-spacing: -2px;
  text-align: left;
  border-bottom: 2px solid #29abe2;
  margin: 20px 0px;
}

.about button {
  display: block;
  background: #29abe2;
  color: #f1f1f1;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: auto;
  margin: 20px auto;
  cursor: pointer;
}

.about button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-bottom: 50px;
  background: #474747;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1200px) {
  .contact {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 50px;
  }
}

.contact .column-one {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media screen and (max-width: 1200px) {
  .contact .column-one {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.contact .column-one ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  list-style: none;
  padding: 0;
  color: var(--white);
}

.contact .column-one ul li {
  padding: 10px 0px;
}

.contact .column-one ul li .check {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .contact .column-one ul li .check {
    font-size: 24px;
  }
}

.contact .column-one ul li span {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .contact .column-one ul li span {
    font-size: 20px;
  }
}
/*# sourceMappingURL=home.css.map */