.home-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-screen div {
  width: 100%;
  margin: 0 auto;
}

.home-screen img {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .home-screen img {
    width: 100%;
  }
}

.home-screen h2 {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #f1f1f1;
}

.two-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
  background: #474747;
  color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
          box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
}

.two-columns .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 50px;
  position: relative;
}

.two-columns .row div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.two-columns .row img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
          clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
  -webkit-box-shadow: 12px 12px 0px 0px #f1f1f1;
          box-shadow: 12px 12px 0px 0px #f1f1f1;
}

.two-columns .row h3 {
  font-size: 52px;
}

.two-columns .row p {
  font-size: 20px;
  padding-left: 40px;
}

.two-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-columns .column .icon {
  margin-bottom: 32px;
  color: #29abe2;
}

.two-columns .column h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #252525;
}

.two-columns .column p {
  max-width: 400px;
}

.about {
  max-width: 1000px;
}

.about h2 {
  color: #29abe2;
  letter-spacing: -2px;
  text-align: left;
  border-bottom: 2px solid #29abe2;
  margin: 20px 0px;
}

.about button {
  display: block;
  background: #29abe2;
  color: #f1f1f1;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: auto;
  margin: 20px auto;
  cursor: pointer;
}

.about button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 25px -9px rgba(0, 0, 0, 0.75);
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  background: #474747;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
          box-shadow: 0px 0px 4px 2px rgba(71, 71, 71, 0.75);
}

.contact .column-one h2 {
  text-align: left;
}

.contact .column-one ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  list-style: none;
  padding: 0;
  color: var(--white);
  font-size: 1.5em;
}

.contact .column-one ul li {
  padding: 10px 0px;
}

.contact .column-one ul li .check {
  margin-left: 20px;
  margin-right: 40px;
}

.contact .column-two {
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact .column-two #contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
  max-width: 500px;
}

.contact .column-two #contact-form label {
  display: block;
  font-weight: 900;
  color: #a3a3a3;
}

.contact .column-two #contact-form input, .contact .column-two #contact-form textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #f1f1f1;
  border-radius: 2px;
  width: 100%;
  color: #cfcfcf;
  font-size: 16px;
}

.contact .column-two #contact-form input::-webkit-input-placeholder, .contact .column-two #contact-form textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

.contact .column-two #contact-form input:-ms-input-placeholder, .contact .column-two #contact-form textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

.contact .column-two #contact-form input::-ms-input-placeholder, .contact .column-two #contact-form textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

.contact .column-two #contact-form input::placeholder, .contact .column-two #contact-form textarea::placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

.contact .column-two #contact-form .name, .contact .column-two #contact-form .phone, .contact .column-two #contact-form .email, .contact .column-two #contact-form .message, .contact .column-two #contact-form #submit-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .column-two #contact-form .name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contact .column-two #contact-form .phone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contact .column-two #contact-form .email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.contact .column-two #contact-form .message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contact .column-two #contact-form #submit-btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 50px;
  border-radius: 2px;
  border: none;
  background: #29abe2;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
/*# sourceMappingURL=home.css.map */