@import "variables";
@import "mixins";

.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .bg-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  div {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 70%;
    margin: 0 auto;
  }
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $white;
  }
}

.two-columns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
  background: $gray-1;
  color: $white;
  .row {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
    position: relative;
    .image-wrap {
      align-self: center;
      justify-self: center;
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }
    img {
      width: 100%;
      clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
    }
    h3 {
      font-size: 52px;
    }
    p {
      font-size: 20px;
      padding-left: 40px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      margin-bottom: 32px;
      color: $eton-blue;
    }
    h2 {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 20px;
      width: 100%;
      border-bottom: 2px solid $black;
    }
    p {
      max-width: 400px;
    }
  }
}

.about {
  max-width: 1000px;
  h2 {
    color: $eton-blue;
    letter-spacing: -2px;
    text-align: left;
    border-bottom: 2px solid $eton-blue;
    margin: 20px 0px;
  }
  button {
    @include button($eton-blue, $white);
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  background: $gray-1;
  box-shadow: $section-shadow;
  @include tablet {
    grid-template-columns: 100%;
    grid-gap: 50px;
  }
  .column-one {
    h2 {
      text-align: left;
    }
    ul {
      display: grid;
      grid-template-columns: 100%;
      list-style: none;
      padding: 0;
      color: var(--white);
      font-size: 1.5em;
      li {
        padding: 10px 0px;
        .check {
          margin-left: 20px;
          margin-right: 40px;
        }
      }
    }
  }
  .column-two {
    justify-self: center;
  }
}