@import "variables";
@import "mixins";

.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .bg-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  div {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 70%;
    margin: 0 auto;
    @include lg {
      width: 100%;
    }
  }
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $white;
  }
}

.two-columns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
  background: $gray-1;
  color: $white;
  .row {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 20px;
    position: relative;
    align-items: center;
    @include md {
      grid-template-columns: 100%;
      grid-gap: 40px;
      text-align: center;
    }
    .image-wrap {
      align-self: center;
      justify-self: center;
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }
    img {
      width: 100%;
      clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
    }
    h2 {
      @include xl {
        font-size: 28px;
      }
    }
    p {
      padding-left: 20px;
      max-width: 420px;
      margin: 0 auto;
      @include lg {
        padding-left: 0px;
      }
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 20px;
      width: 100%;
      border-bottom: 2px solid $black;
    }
    p {
      max-width: 400px;
    }
  }
}

.about {
  max-width: 1000px;
  h2 {
    color: $eton-blue;
    letter-spacing: -2px;
    text-align: left;
    border-bottom: 2px solid $eton-blue;
    margin: 20px 0px;
  }
  button {
    @include button($eton-blue, $white);
  }
}

.contact {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 50px;
  background: $gray-1;
  align-items: center;
  justify-items: center;
  @include lg {
    grid-template-columns: 100%;
    grid-gap: 50px;
  }
  .column-one {
    justify-self: center;
    ul {
      display: grid;
      grid-template-columns: 100%;
      list-style: none;
      padding: 0;
      color: var(--white);
      li {
        padding: 10px 0px;
        .check {
          margin-right: 10px;
          @include lg {
            font-size: 24px;
          }
        }
        span {
          font-size: 24px;
          @include xl {
            font-size: 20px;
          }
        }
      }
    }
  }
}