* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body {
  background: #252525;
  font-size: 18px;
  color: #f1f1f1;
}

body .bg-shape {
  -webkit-clip-path: polygon(100% 42%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 42%, 0% 100%, 100% 100%);
  height: 100vh;
  position: absolute;
  background: #474747;
  width: 100%;
  bottom: 0;
  right: 0;
}

body .bg-shape-2 {
  -webkit-clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
  height: 100vh;
  position: absolute;
  background: #a3a3a3;
  width: 100%;
  bottom: 0;
  right: 0;
}

body section {
  padding: 100px 100px;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Viga', sans-serif;
  color: #29abe2;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
  max-width: 1000px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  font-weight: 700;
  color: #f1f1f1;
}

body p {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

body ul {
  list-style-type: none;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

body footer img {
  width: 300px;
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f1f1;
}

body footer div li {
  margin: 10px 0px;
  color: #a3a3a3;
  text-align: center;
}

.main-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(41, 170, 226, 0);
  font-weight: 700;
  z-index: 999;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav img {
  width: 200px;
  margin: 0;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 526px) {
  .main-nav ul {
    display: none;
  }
}

.main-nav ul li {
  padding: 0px 32px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-nav ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-nav ul a {
  color: #f1f1f1;
  text-decoration: none;
}

.main-nav .burger {
  display: none;
  cursor: pointer;
  position: relative;
  height: 44px;
  width: 44px;
}

.main-nav .burger div {
  display: none;
  height: 3px;
  width: 100%;
  background: #f1f1f1;
  margin: 10px 0px;
  border-radius: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: all 0.5s;
          transform: all 0.5s;
}

@media screen and (max-width: 526px) {
  .main-nav .burger div {
    display: block;
  }
}

.main-nav .burger:nth-child(1) {
  top: 0;
}

.main-nav .burger:nth-child(2) {
  top: 16;
}

.main-nav .burger:nth-child(3) {
  top: 32;
}

.section-head {
  color: #29abe2;
  letter-spacing: -2px;
  text-align: left;
  border-bottom: 2px solid #29abe2;
  margin: 20px 0px;
  font-size: 72px;
}

.page-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-size: 120px;
  border-bottom: none;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.partial-width {
  width: 80%;
  margin: 0 auto;
}

.block-text {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

#contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
  max-width: 500px;
}

#contact-form label {
  display: block;
  font-weight: 900;
  color: #a3a3a3;
}

#contact-form input, #contact-form textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #f1f1f1;
  border-radius: 2px;
  width: 100%;
  color: #cfcfcf;
  font-size: 16px;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input::-ms-input-placeholder, #contact-form textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form .name, #contact-form .phone, #contact-form .email, #contact-form .message, #contact-form #submit-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contact-form .name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#contact-form .phone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#contact-form .email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#contact-form .message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#contact-form #submit-btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 50px;
  border-radius: 2px;
  border: none;
  background: #29abe2;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */