* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body {
  background: #252525;
  font-size: 18px;
  color: #f1f1f1;
}

body .bg-img {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0;
}

body .fade-in {
  -webkit-animation-name: 'fade-in';
          animation-name: 'fade-in';
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

body .bg-shape {
  -webkit-clip-path: polygon(100% 42%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 42%, 0% 100%, 100% 100%);
  height: 100vh;
  position: absolute;
  background: #474747;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

body .bg-shape-2 {
  -webkit-clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
  height: 100vh;
  position: absolute;
  background: #a3a3a3;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

body section {
  padding: 60px;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Viga', sans-serif;
  color: #29abe2;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
  max-width: 1000px;
  margin: 0 auto;
}

body h1 {
  font-size: 46px;
}

@media screen and (max-width: 768px) {
  body h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  body h1 {
    font-size: 32px;
  }
}

body h2 {
  font-size: 38px;
}

@media screen and (max-width: 992px) {
  body h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  body h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  body h2 {
    font-size: 24px;
  }
}

body h3 {
  font-size: 32px;
}

body h4 {
  font-size: 24px;
  color: #f1f1f1;
}

@media screen and (max-width: 992px) {
  body h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  body h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  body h4 {
    font-size: 18px;
  }
}

body h5 {
  font-size: 18px;
}

body h6 {
  font-size: 14px;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  font-weight: 700;
  color: #f1f1f1;
}

body p {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  body p {
    font-size: 16px;
  }
}

body ul {
  list-style-type: none;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

body footer img {
  width: 300px;
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f1f1;
}

body footer div li {
  margin: 10px 0px;
  color: #a3a3a3;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body footer div li {
    font-size: 16px;
    margin: 20px 0px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 5px 20px;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .main-nav {
    padding: 5px 5px;
  }
}

.main-nav img {
  width: 200px;
}

.main-nav .nav-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.main-nav .menu-content > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav .menu-content > ul li {
  padding: 12px 32px;
}

.main-nav .burger {
  display: none;
  margin: 10px 0px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.main-nav .burger div {
  height: 5px;
  width: 50px;
  margin: 5px 0px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
}

.main-nav .burger .line1 {
  top: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .burger .line2 {
  top: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .burger .line3 {
  top: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .burger .topline-x {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .burger .middleline-x {
  opacity: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav .burger .bottomline-x {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section-head {
  color: #29abe2;
  letter-spacing: -2px;
  text-align: left;
  border-bottom: 2px solid #29abe2;
  margin: 20px 0px;
}

.page-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-size: 120px;
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .page-head {
    font-size: 102px;
  }
}

@media screen and (max-width: 768px) {
  .page-head {
    font-size: 84px;
  }
}

@media screen and (max-width: 576px) {
  .page-head {
    font-size: 72px;
  }
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.partial-width {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .partial-width {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .partial-width {
    width: 100%;
  }
}

.block-text {
  text-transform: uppercase;
}

#contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
}

#contact-form label {
  display: block;
  font-weight: 900;
  color: #a3a3a3;
}

#contact-form input, #contact-form textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #f1f1f1;
  border-radius: 2px;
  width: 100%;
  color: #cfcfcf;
  font-size: 16px;
}

#contact-form input:focus, #contact-form textarea:focus {
  background: #616161;
  border-bottom: 2px solid #29abe2;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input::-ms-input-placeholder, #contact-form textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
  font-size: 16px;
  color: #cfcfcf;
}

#contact-form .name, #contact-form .phone, #contact-form .email, #contact-form .message, #contact-form #submit-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contact-form .name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 768px) {
  #contact-form .name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

#contact-form .phone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 768px) {
  #contact-form .phone {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

#contact-form .email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media screen and (max-width: 768px) {
  #contact-form .email {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

#contact-form .message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  #contact-form .message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

#contact-form #submit-btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 50px;
  border-radius: 2px;
  border: none;
  background: #29abe2;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #contact-form #submit-btn {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

h4.thank-you {
  font-size: 24px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */